body{
	font-family: 'Roboto', sans-serif;
	margin: 0;
}
h1{
	padding: 8px;
	background: rgba(255,0,0,0.8);
	border-radius: 8px;
	margin: 0;
	font-size: 64px;
	font-family: 'Roboto slab',serif;
}
p{
	line-height: 1.5;
}
main{
	margin: auto;
}
a{
	text-decoration: none;
	color:  black;
}
a:hover{
	text-decoration: underline;
}
input,
textarea{
height: 32px;
padding: 0 16px;
font-family: 'Roboto condensed',sans-serif;
font-size:20px;
border:none;
box-shadow: inset 8px 3px 18px -4px rgba(0,0,0,0.4);
}
input:focus,
textarea:focus{
	outline: none;
}
#banner{
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: rgba(0,0,0,0.2) url('../photo/j.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-blend-mode: overlay;
	color: white;
}
#banner h3{
background: black;
border-radius: 8px;
padding:0 24px;
font-size: 24px;
}
#searchbox{
	position: fixed;
	right:0;
	top:24px;
	width:500px;
	pointer-events: none;
	z-index: 50;
	transition: 0.4s;
}
#search input{
	height: 48px;
	width: 100%;
}
nav{
	background: black;
	height: 72px;
width: 100%;
margin: 0;
position: fixed;
font-family: 'Roboto condensed',sans-serif;
font-size: 20px;
display: flex;
justify-content: space-between;
padding: 0 16px 0 0;
box-sizing: border-box;
z-index: 100;
}
nav a{
	padding: 0 32px;
	color: #eee;
	transition: 0.4s;
}
nav a:hover{
	text-decoration: none;
	color: red;
}
nav ul{
	display: flex;
	list-style: none;
	justify-content: space-around;
	align-items: center;
	height: 100%;
	margin: 0;
}
.active{
	color:#f783ae;
}
#logo-img{
	display: flex;
	height: 100%
	background: #111;
	padding: 0 32px;
	align-items: center;
	color: white;
	transition: 0.4s;
}
#logo-img img{
	height: 100px;
}
#logo-img:hover{
	background: black;
}
#menu-icon{
	height: 100%;
	font-size:28px;
	padding: 0 4px;
	color: #eee;
	display: none;
	align-items: center;
}
#search-icon{
	color: white;
	padding: 0 32px;
	cursor: pointer;
	transition: 0.4s;
}
#search-icon:hover{
	color:red;
}
#slideout-menu{
	display: none;
	background-color: #2d3436;
	z-index: 100;
	position: fixed;
	transition: 0.4s;
	margin-top: 72px;
	width: 100%;
	text-align: center;
	opacity: 0;
	pointer-events: none;
}
#slideout-menu ul{
	list-style: none;
	padding: 0 32px;
}
#slideout-menu ul li{
	padding: 8px;
}
#slideout-menu a{
	font-family: 'Roboto condensed',sans-serif;
	font-size: 20px;
	color: white;
}
#slideout-menu input{
	width: 85%;
	padding: 8px;
	font-family: 'Roboto condensed',sans-serif;
	font-size: 20px;
	text-align: center;
}
@media(max-width: 1084px){
	nav ul{
		display:none;
	}
	#menu-icon{
		display: flex;
	}
	#slideout-menu{
		display: block;
	}
	#searchbox{
		display:none;
	}
}
@media(max-width: 719px)
{
	main{
		width: 95%;
	}
}
@media(max-width: 600px){
	main{
		width: 100%;
	}
	h1{
		font-size: 20px;
	}
	banner h3{
		font-size: 20px;
	}
}